.btn {
    height: 45px;
    padding: 12px 25px;
    background: $btn-color;
    background-size: 800% 400%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $font-color;
    transition: 0.3s all;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    &:hover {
        animation: gradient 3s infinite;
    }
    &:active {
        transform: scale(0.9);
    }
}

@keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
}