.contacts {
    padding: 120px 0 90px 0;
    background-color: $bg-color;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }
    &__text {
        margin-top: 20px;
    }
    &__social {
        margin-top: 20px;
        
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px) ;
        gap: 30px 25px;
        label {
            position: absolute;
            top: -9px;
            left: 12px;
            color: $font-color;
            height: 18px;
            padding: 0 8px;
            background-color: $bg-color;
            font-size: 12px;
            display: block;
        }
    }
    &__triggers {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        font-size: 12px;
        line-height: 14px;
        color: $font-color;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
        a {
            transition:all 0.2s ease;
            &:hover {
                text-decoration: underline;
                color:blue;
            }
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            background-color: $bg-color;
            border: 1px solid #FFFFFF;
            color: $font-color;

        }
    }
    &__textarea {
        grid-column: 1/3;
        position: relative;
        textarea {
            width: 100%;
            height: 100%;
            padding: 20px;
            resize: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            background-color: $bg-color;
            border: 1px solid #FFFFFF;
            color: $font-color;

        }
        
    }
    &__btn {
        border: none;
        font-weight: bold;
        font-size: 14px;
        color: $font-color;
        padding: 12px 26px;
    }
}