@media (max-width: 1340px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template-columns: repeat(2, minmax(115px, auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 50px;
        }
    }
    .skills {
        
        &__ratings {
            grid-template-columns: repeat(auto-fit,350px);
            grid-auto-rows: minmax(70px,auto);
            justify-content: space-around;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            .horizonal, .vertical {
                grid-column: unset;
                grid-row: unset;

            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .promo{
        &__body {
            flex: 0 0 350px;

        }
        &__title {
            width: 100%;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,300px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,1fr);
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,320px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .divider {
        margin-top: 5px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &:after {
            display: none;
        }
        &__title {
            max-width: 300px;
            line-height: 39px;
            margin-right: 0;
        }
        &__container {
            justify-content: center;
        }
        &__img {
            display: none;
        }

    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            img {
                object-position: 50% 37%;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(2,1fr);
            padding-top: 40px;

        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            gap: 20px;
        }
        &__item {
            &:before {
                height: 100%;
            }
            &:after {
                opacity: 1;
            }
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
    
    
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .burger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
            overflow: scroll;
        }
    }
    .promo {
        &__btn {
            margin-top: 30px;
        }
        &__container {
            display: block;
        }
        &__dot {
            width: 7px;
            height: 7px;
        }
        &__zip {
            width: 70px;
            &_4 {
                height: 70px;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: 1fr;
        }
        &__column {
            &:nth-child(1n+2){
                margin-top: 40px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 285px;
            justify-content: center;
            row-gap: 30px;
            padding: 30px 0 30px 0;


        }
        &__ratings {
            margin-top: 48px;
            grid-template-columns: repeat(auto-fit,280px);
            &-line {
                width: 100%;
            }
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}