.resume {
    padding-top: 120px;
    background-color: $bg-color;
    &__wrapper {
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);

                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #fff;
                }
            }
        }

    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            background-color: #fff;
            top: 68px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            a {
                color: blue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            &:before {
                z-index: 0;
            }
            img {
                position: absolute;
                left: 17px;
                top: 14px;
                z-index: 1;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            color: $font-color;
            margin-top: 5px;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
            color: $font-color;
        }
    }
}